name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  mainnet-deploy:
    name: mainnet release
    uses: ./.github/workflows/deploy.yml
    with:
      network: mainnet
      deploy-account-address: ${{ vars.MAINNET_DEPLOY_ACCOUNT }}
      signer-account-address: ${{ vars.MAINNET_DEPLOY_ACCOUNT }}
      signer-public-key: ${{ vars.MAINNET_SIGNER_PUBLIC_KEY }}
    secrets:
      SIGNER_PRIVATE_KEY: ${{ secrets.MAINNET_SIGNER_PRIVATE_KEY }}
